:root
{   
    --master-bg-color: blue;
}

body
{
    margin: 0;
}

a
{
    text-decoration: none;

    color: white;
}

a:hover
{
    color: green;
}

#master
{
    display: grid;
    background-color: var(--master-bg-color);
    height: 100%;
    width: 100%;

    position: relative;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: 10% auto 20%;

}

#main-cal-body
{
    display: grid;
    background-color: yellow;
    height: 100%;
    width: 100%;

    grid-template-rows: 30% auto;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    row-gap: 2%;
}

    #main-cal-display
    {
        display: grid;
        background-color: red;
        
        grid-template-columns: 8% auto 8%;
        grid-template-rows: 35% auto 15%;
    }
        #above-display-logo
        {
            display: grid;
            background-color: yellow;

            grid-column: 2 / 3;

            grid-row: 1 / 2;

            text-align: center;
            padding-top: 2%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 5vmin;
            font-weight: bold;
        }
        #output-display
        {
            display: grid;
            background-color: white;

            grid-column: 2 / 3;

            grid-row: 2 / 3;
        }

    #main-cal-buttons
    {
        display: grid;
        background-color: green;

        grid-template-columns: 8% auto 8%;
        grid-template-rows: 8% auto 8%;
    }
        #calculator-button-box
        {
            display: grid;
            background-color: white;
            grid-gap: 1%;

            grid-column: 2 / 3;
            grid-row: 2 / 3;

            grid-template-columns: 24% 24% 24% 24%;
            grid-template-rows: 19% 19% 19% 19% 19%;

        }

            .calculator-normal-button
            {
                display: grid;
                background-color: red;

                text-align: center;
                padding-top: 5%;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 5vmin;
                font-weight: bold;
            }

            #custom-equal-sign
            {
                grid-column: 4 / 5;
                grid-row: 2 / 6;
                
            }
